<!-- cart.component.html -->

<mat-card *ngIf="cartItems.length > 0; else emptyCart">
    <mat-card-title>Shopping Cart</mat-card-title>
    <mat-card-content>
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="getProductImageUrl(item.product)" alt="{{ item.product.productName }}" class="cart-item-image">
        <div class="cart-item-details">
          <h3>{{item.product.productName}}</h3>
          <p>Price: ${{item.product.prize}}</p>
        </div>
      </div>
      <div class="total-price">
        <h3>Total Price: ${{totalPrice}}</h3>
      </div>
    </mat-card-content>
  </mat-card>
  
  <ng-template #emptyCart>
    <mat-card>
      <mat-card-title>Your Cart is Empty</mat-card-title>
    </mat-card>
</ng-template>
  