<div class="about-container">
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title>About Us</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <section class="about-section">
          <h2>Our Vision</h2>
          <p>
            Our vision is to become the leading provider of high-quality products, offering a seamless and enjoyable shopping experience to customers worldwide. We aim to innovate and excel in our services to meet the diverse needs of our customers.
          </p>
        </section>
  
        <section class="about-section">
          <h2>About Us</h2>
          <p>
            Welcome to our e-commerce site! We are dedicated to providing you with the best products at the most affordable prices. Our team is committed to ensuring your satisfaction with every purchase. We strive to offer a seamless shopping experience with a wide variety of products to choose from.
          </p>
          <p>
            Thank you for choosing us as your preferred shopping destination. If you have any questions or feedback, please don't hesitate to contact us.
          </p>
        </section>
  
        <section class="about-section">
          <h2>Terms and Conditions</h2>
          <p>
            By using our website, you agree to comply with and be bound by the following terms and conditions of use. These terms govern your use of our site and all transactions conducted through it. We reserve the right to update these terms at any time without prior notice.
          </p>
          <p>
            Please read our terms and conditions carefully before using our services. If you do not agree with any part of these terms, please do not use our website.
          </p>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  