.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 95%;
    padding: 0 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  
  
  .example-card {
    max-width: 300px;
    margin: auto;
  }
  